.link{
  display: block;
  color: $gray-900;
  :hover{
    color: $success;
  }
}
.pagination-link{
  display: block;
  color: $gray-900;
  :hover{
    background-color: $success;
    color: $white;
  }
}