<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
      
        <aside class="sidebar  vh-100 bg-light d-flex flex-column">
        <div class="ps-5 pt-5 pb-4">
          <img src="./assets/images/logo-ANSWER.svg" alt="logo">
        </div>
        <div>
         
          <a href="#" class="sidebar-link fw-bold">
            <div class="ps-5 py-3"><span class="material-icons icon me-3">assessment</span>Dashboard</div>
            
          </a>
          <a href="#" class="sidebar-link fw-bold">
            <div class="ps-5 py-3"><span class="material-icons icon me-3">question_answer</span>Question</div>
            
          </a>
          <a href="#" class="sidebar-link fw-bold">
            <div class="ps-5 py-3"><span class="material-icons icon me-3">assessment</span>Assignment</div>
            
          </a>
          <a href="#" class="sidebar-link fw-bold">
            <div class="ps-5 py-3"><span class="material-icons icon me-3">video_library</span>Course</div>
            
          </a>
          <a href="#" class="sidebar-link fw-bold active">
            <div class="ps-5 py-3"><span class="material-icons icon me-3">supervisor_account</span>Admin</div>
            
          </a>
          <a href="#" class="sidebar-link fw-bold">
            <div class="ps-5 py-3"><span class="material-icons icon me-3">settings</span>Settings</div>
            
          </a>
        </div>
        <div class="d-flex mt-auto p-5 ">
          <img src="./assets/images/andychen.jpeg" alt="Andy's picture" class="circle-pic me-3">
          <div>
            <p class="mb-1">Andy Chen</p>
            <p class="text-muted mb-0 fz-14">andy0401@mail.com</p>
          </div>
        </div>
        </aside>
      
    
    <main class="main">
    <%- contents %>
    </main>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>
